<app-shared-header title="Nosotros"></app-shared-header>

<ion-content [fullscreen]="true">
  <!-- Banner 1 -->
  <div class="banner-container">
    <img alt="Banner" src="https://i.ibb.co/TP2Wb08/showzone.png" class="banner-image">
  </div>

  <!-- Descripción de la aplicación -->
  <div class="app-description">
    <h2>Acerca de la Aplicación</h2>
    <p>
      Esta aplicación te permite comprar tickets para los eventos más populares y exclusivos. 
      Explora conciertos, festivales y mucho más, todo desde la comodidad de tu dispositivo móvil. 
      ¡Nunca te pierdas un evento importante!
    </p>
  </div>

  <!-- Banner 2 -->
  <div class="banner-container" id="banner2">
    <img alt="Banner" src="https://i.ibb.co/z5KXmj3/showzone-2.png" class="banner-image">
  </div>

  <!-- Contacto -->
  <div class="form-invitation">
    <ion-title id="contactotitle">Contacto</ion-title>
    <p>
      Si tienes alguna duda o comentario, no dudes en ponerte en contacto con nosotros. 
      ¡Rellena el siguiente formulario y nos pondremos en contacto contigo lo antes posible!
    </p>
  </div>

  <!-- Formulario de contacto -->
  <app-form-component></app-form-component>

  <app-shared-tabs></app-shared-tabs>
</ion-content>