

.banner-container {
  width: 100%;
  height: auto;
  margin: 0;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 400px; /* Incrementa la altura máxima para hacer el banner más cuadrado */
  object-fit: cover;
}





