<div class="tabs-container">
  <div class="tab-button" (click)="changeTab('inicio')">
    <ion-icon name="home-outline"></ion-icon>
    <span>Inicio</span>
  </div>
  <div class="tab-button" (click)="changeTab('eventos')">
    <ion-icon name="musical-notes-outline"></ion-icon>
    <span>Eventos</span>
  </div>
  <div class="tab-button" (click)="changeTab('nosotros')">
    <ion-icon name="information-circle-outline"></ion-icon>
    <span>Nosotros</span>
  </div>
  <div class="tab-button" (click)="changeTab('menu')">
    <ion-icon name="menu"></ion-icon>
    <span>Menu</span>
  </div>
</div>